*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 237, 222);
}

/* .navbar {
    overflow: hidden;
    background-color: #003016;
} */

/* .navbar a {
float: left;
font-size: 20px;
color: rgb(254, 254, 254);
text-align: center;
padding: 14px 16px;
text-decoration: none;
} */

/* .dropdown {
float: left;
overflow: hidden;
} */

/* style the lookbook button */
/* .dropdown .dropbtn {
font-size: 20px;
border: none;
outline: none;
color: black;
padding: 14px 16px;
/* background-color: inherit;
/* font-family: 'Schoolbell', arial, serif; */
/* font-family: 'Shadows Into Light', cursive; */
/* font-family: 'Indie Flower', cursive; */
/* margin: 0;
} */

/* .navbar a:hover,
.dropdown:hover .dropbtn {
background-color: rgb(246, 240, 225);
color: rgb(11, 1, 1);
} */

/* .dropbtn {
    background-color: #003016;
    font-family: Arial, Helvetica, sans-serif;
} */

/* .dropdown .dropbtn {
    background-color: #003016;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
} */

/* styles the dropdown */
/* .dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(224, 217, 217, 0.2);
z-index: 1;
} */

/* styles the text in the dropdown
.dropdown-content a {
float: none;
color: black;
padding: 10px 16px;
text-decoration: none;
display: block;
text-align: left;
} */

/* .dropdown-content a:hover {
background-color: #f2ddbd;
color:black;
} */

/* .dropdown:hover .dropdown-content {
display: block;
} */

.container-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Style for individual blog posts */
.single-Post {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid;
    padding-bottom: 20px;
}

/* Style for blog post titles */
.single-Post h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

/* Style for post date */
.single-Post h5 {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

/* Style for images within the blog post */
.single-Post .img {
    display: flex;
    justify-content: center; /* Center children horizontally */
    width: 100%;
    margin-bottom: 10px;
}

.single-Post .img img {
    max-width: 60%;
    height: auto;
    border-radius: 0px;
}

.pimage {
    max-width: 100%; /* Set maximum width to 100% of the parent container */
    text-align: left; /* Center the image horizontally */
}

/* Style for the green stars image */
.pimage img {
    width: 12%; /* Set the width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
}